<div class="users">
  <div class="users__toggle">
    <button
      [ngClass]="{
        'users__toggle-button': true,
        'users__toggle-button--active': !isShowOnline
      }"
      (click)="showAll()"
    >
      All
    </button>
    <button
      [ngClass]="{
        'users__toggle-button': true,
        'users__toggle-button--active': isShowOnline
      }"
      (click)="showOnline()"
    >
      Online
    </button>
  </div>
  <div class="users__list">
    <div class="user" *ngFor="let user of usersToShow | filterUsers: userSearchQuery"
         (click)="setActiveRoom(user)">
      <div class="user__is-online"
           *ngIf="onlineUsers.includes(user.name)"></div>
      <div
        class="user__avatar"
        *ngIf="user.avatar"
        [ngStyle]="{
          'background': 'url(' + serverUrl + '/uploads/' + user.avatar + ')',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      ></div>
      <div class="user__avatar--placeholder" *ngIf="!user.avatar" >{{user.name.slice(0, 1)}}</div>
      <div class="user__info">
        <div class="user__name">
          {{user.name}}
        </div>
        <div class="user__description" *ngIf="user.description">
          {{user.description.length > 40 ? user.description.slice(0, 40) + '...' : user.description }}
        </div>
        <div class="user__description" *ngIf="!user.description">
          Want to talk with {{user.name}}?
        </div>
      </div>
    </div>
  </div>
</div>
<input
  class="users__filter"
  type="text"
  [(ngModel)]="userSearchQuery"
  placeholder="Search..."
>
