:host {
  width: 23%;
  height: 100%;
  background: #fff;
  position: relative;
}

.users {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__filter {
    width: calc(100% - 32px);
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    padding: 16px;
    z-index: 500;
  }

  &__toggle {
    display: flex;
    width: 100%;
    height: 6%;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 500;
  }

  &__toggle-button {
    color: #555555;
    width: 50%;
    height: 100%;
    font-size: 1.2em;
    background: #f7f7f7;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__toggle-button--active {
    background: #fff;
  }

  &__rooms-list {
    padding: 10px;
  }
}

.room {
  display: flex;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;

  &__is-online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00b300;
    position: absolute;
    left: 53px;
    bottom: 5px;
  }

  &__avatar {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    border-radius: 2px;
  }

  &__avatar--placeholder {
    width: 75px;
    height: 75px;
    background: #777;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
  }

  &__info {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    padding: 7px;
    width: calc(100% - 75px);
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    font-size: 0.8em;
    color: #adadad;
  }
}
