:host {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.chat-wrapper {
  width: 77%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #d7dfe7;
}
